{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}


<div class="container landing-top">
    <div class="align-middle text-center">
        <span class="display-1 logo">WINE KĒ</span><br>
        <span class="display-5 logo_subheading">make everything taste better</span><br>

    </div>
</div>

<div class="container">
    {{!-- <div class="row"> --}}
        <div class="row align-middle text-center landing-bottom">
            {{!-- <div class="col">Perfect Pairings Everytime</div> --}}
            <div class="col"><img src="images/Eats_Logo_Whit_Horiz.png"></div>
            {{!-- <div class="col">From Chinese takeout to Frois Grois</div> --}}
            {{!-- <div class="col"></div> --}}
        </div>
    </div>

</div>
