// grey: #dddfd4
// yellow: #fae596
// lt green: #3fb0ac
// drk green: #173e43

// font-family: 'Oswald', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Lato', sans-serif;

//===========================================================================

body {
  font-family: 'Oswald', sans-serif;
  background-color: #dddfd4;
}

a {
  color: #173e43;
}

a:hover {
  color: #3fb0ac;
}

.navigation {
  background-color: none;
  border-bottom: black;
}

.landing-top {
  height: 70vh;
  padding-top: 30vh;
}

.landing-top a {
text-decoration: none;
}

.landing-top span:hover {
  color: #3fb0ac;
}

.landing-bottom {
  align-items: center;
}

.landing-bottom img {
  height: 40px;
}

.center {
  display: flex;
}

.logo {
  letter-spacing: 10px;
  // color: #3fb0ac;
}

.logo_subheading {
  letter-spacing: 3px;
  word-spacing: 25px;
}

.wines-landing {
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Lato', sans-serif;
  height: 55vh;
  padding-top: 10vh;
  // color: #328a87;
  // color: #173e43;
}

.wines-landing select {
  // border: 2px solid #d15959;
  border: none;
  // -webkit-appearance: none;
  appearance: none; 
}

.wines-landing section {
  border:none;
  background-color: none;
}

.color_lt-green {
  // color: #328a87;
  color: #3fb0ac;
}

.color_drk-green {
  // color: #328a87;
  color: #173e43;
}

.dropdown {
  border: 5px, solid, #3fb0ac;
  background-color: transparent;
}

.pairings {
  padding-left: 50px;
  padding-right: 50px;
}

.pairings a{
  padding: 20px;
  text-transform: lowercase;
  text-decoration: none;
  color: #3fb0ac;
}

.pairings a:hover{
  text-transform: uppercase;
  text-decoration: none;
  color: #173e43;
}

.more-wine a:hover{
  text-decoration: none;
}
