<div class="wines-landing">

<div class="container my-5 ">
    <div class="align-middle text-center">
        <span class="display-3 font-weight-bold color_lt-green">tell us about your wine.</span>

    </div>
</div>

<div class="container-fluid">
    
    {{!-- <div class="row text-center my-5">
    </div> --}}
    <div class="row text-center my-5 py-5">
        <div class="col"></div>
        <select id="type" class="col display-5 mx-5 form-control form-control-lg">
            <option>type</option>
            {{#each types}}
                <option value="{{this.id}}">
                    {{this.name}}
                </option>
            {{/each}}

        </select>

        <select id="varietal" class="col display-5 mx-5 form-control form-control-lg">
            <option>Varietal</option>

    
        </select>

        <select id="country" class="col display-5 mx-5 form-control form-control-lg">
            <option>Country</option>
           
    


        </select>
        
        <select id="region" class="col display-5 mx-5 form-control form-control-lg">
            <option>Region</option>
        </select>

        <div class="col"></div>

    </div>

</div>

<div class="container-fluid">

<div class="row d-flex justify-content-center">
   
        <span class="display-4 text-center font-weight-bold color_drk-green">it would be great with...</span>
</div>

<div class="row d-flex justify-content-center">
    
    <span class="display-5 my-5 font-weight-bold color_drk-green">this stuff</span>
  
</div>


</div>